/* variables */
:root{
    --priamry: #5654b3;
    --secondary: #fa676d;
    --text-color: #2d2c62;
    --bg-color: #e2effe;
}

/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
em{
    font-style: normal;
}

/* base styles */
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.button{
    display: inline-block;
    background-color: var(--priamry);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background-color: #4240b9;
}
.container-fluid{
    padding: 0 90px;
}

/* font */

/* desktop styling */
.navigation{
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
}
.navbar-brand{
    grid-column: 1/5;
}
.navbar-brand img{
    width: 10em;
}
.nav-links{
    grid-column: 5/13;    
}
.nav-items{
    align-items: center;
    justify-content: space-between;
}
.nav-item a {
    color: var(--text-color);
    font-weight: lighter;
}
.hero{
    align-items: center ;
}
.hero-text{
    grid-column: 1/5;
}
.hero-text h1{
    color: var(--text-color);
    font-size: 2.9em;
    font-weight: 400;
}
.hero-text h1 em{
    color: var(--secondary);
}
.hero-text h2{
    color: var(--text-color);
    font-weight: lighter;
    font-size: 1em;
    width: 80%;
    margin: 30px 0;
    line-height: 1.5;
}
.hero-form input{
    padding: 10px 15px;
    border: 0;
    font-size: 1em;
    color: var(--text-color);
    width: 60%;
    border-radius: 5px;
    height: 100%;
}
.hero-form input:focus{
    outline: none;
}
.hero-form a{
    margin-left: -10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.hero-img{
    grid-column: 5/13;
}
.hero-img img{
    width: 100%;
}